<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" type="text" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if @results %>
  <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>

  <ul>
    <% @results.each do |chapter, index, paragraph, paragraph_index| %>
      <li><a href="/chapters/<%= index + 1 %>#p<%= paragraph_index %>"><%= chapter %></a>: 
      <p><%= highlight_search_terms(params[:query], paragraph) %></p>
      </li>
    <% end %>
  </ul>
<% end %>