<h2><span class="light">Water Quality for </span><%= parse_date_day_month_year(@selected_data['date_entered']) %></h2>

<div>
  <div class="figure-box">
    <span class="metric">pH</span><br />
    <span class="figure"><%= @selected_data['ph'] %></span>
    <span class="compare_num"><i class="fa <%= determine_arrow('pH', @id) %>" aria-hidden="true"></i> <%= compare_with_previous('pH', @id) %></span>
  </div>

  <div class="figure-box">
    <span class="metric">Ammonia</span><br />
    <span class="figure"><%= @selected_data['ammonia'] %><span class="units">PPM</span></span>
    <span class="compare_num"><i class="fa <%= determine_arrow('ammonia', @id) %>" aria-hidden="true"></i> <%= compare_with_previous('ammonia', @id) %></span>
  </div>

  <div class="figure-box">
    <span class="metric">Nitrites</span><br />
    <span class="figure"><%= @selected_data['nitrites'] %><span class="units">PPM</span></span>
    <span class="compare_num"><i class="fa <%= determine_arrow('nitrites', @id) %>" aria-hidden="true"></i> <%= compare_with_previous('nitrites', @id) %></span>
  </div>

  <div class="figure-box">
    <span class="metric">Nitrates</span><br />
    <span class="figure"><%= @selected_data['nitrates'] %><span class="units">PPM</span></span>
    <span class="compare_num"><i class="fa <%= determine_arrow('nitrates', @id) %>" aria-hidden="true"></i> <%= compare_with_previous('nitrates', @id) %></span>
  </div>

  <div class="figure-box">
    <span class="metric">Temp</span><br />
    <span class="figure"><%= @selected_data['temp'] %>&deg;</span>
    <span class="compare_num"><i class="fa <%= determine_arrow('temp', @id) %>" aria-hidden="true"></i> <%= compare_with_previous('temp', @id) %></span>
  </div>

  <% if @selected_data['notes'].size > 0 %>
    <div>
    <h3>Notes</h3>
      <p><%= @selected_data['notes'] %></p>
    </div>
  <% end %>

  <div>
    <p><small>Recorded at <%= parse_time_from_date(@selected_data['date_entered']) %> on <%= parse_date_day_month_year(@selected_data['date_entered']) %></small>
    <% if @selected_data['date_updated'].size > 0 %>
      <br />
      <small>Last updated at <%= parse_time_from_date(@selected_data['date_updated']) %> on <%= parse_date_day_month_year(@selected_data['date_updated']) %></small>
    <% end %>
    </p>
  </div>

  <div>
    <p><a href="/entry/edit/<%= @id %>">Edit entry</a></p>
    <p><a href="/">Home</a></p>
  </div>
</div>