<h2>Edit Log Entry <span class="light">for <%= parse_date_day_month_year(@selected_data['date']) %> at <%= parse_time_from_date(@selected_data['date']) %></span></h2>

<form action="/entry/edit" method="post" class="new">
  <input type="hidden" name="date" value="<%= @selected_data['date'] %>">
  <input type="hidden" name="id" value="<%= @id %>">
  <table>
    <tr>
      <td><label for="pH">pH</label></td>
      <td><input type="text" name="pH" value="<%= @selected_data['pH'] %>"></td>
    </tr>
    <tr>
      <td><label for="ammonia">ammonia</label></td>
      <td><input type="text" name="ammonia" value="<%= @selected_data['ammonia'] %>"><small>PPM</small></td>
    </tr>
    <tr>
      <td><label for="nitrites">nitrites</label></td>
      <td><input type="text" name="nitrites" value="<%= @selected_data['nitrites'] %>"><small>PPM</small></td>
    </tr>
    <tr>
      <td><label for="nitrates">nitrates</label></td>
      <td><input type="text" name="nitrates" value="<%= @selected_data['nitrates'] %>"><small>PPM</small></td>
    </tr>
    <tr>
      <td><label for="temp">temp</label></td>
      <td><input type="text" name="temp" value="<%= @selected_data['temp'] %>"></td>
    </tr>
    <tr>
      <td><label for="notes">notes</label></td>
      <td><input type="text" name="notes" value="<%= @selected_data['notes'] %>" class="extend"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div class="btn-submit"><input type="submit" value="Go" class="btn-destyle"></div></td>
      <td><small><a href="/entry/<%= @id %>">Cancel</a></small></td>
    </tr>
  </table>
</form>