<h1>Water Quality Tracker</h1>

<p><a href="/entry/new">New Entry</a></p>

<table class="table table-condensed table-hover" style="width:50%;">
  <tr>
    <thead>
      <td class="col-md-3">Date</td>
      <td class="col-md-2">Temp</td>
      <td class="col-md-2">pH</td>
      <td class="col-md-2">Ammonia</td>
      <td class="col-md-2">Nitrites</td>
      <td class="col-md-2">Nitrates</td>
    </thead>
  </tr>
  <% @tracking_data.each do |k, v| %>
    <tr>
      <td><a href="/entry/<%= k %>"><%= parse_date_day_month_year(v['date']) %></a></td>
      <td><%= v['temp'] %></td>
      <td><%= v['pH'] %> <i class="fa <%= determine_arrow('pH', k) %>" aria-hidden="true"></i></td>
      <td><%= v['ammonia'] %> <i class="fa <%= determine_arrow('ammonia', k) %>" aria-hidden="true"></i></td>
      <td><%= v['nitrites'] %> <i class="fa <%= determine_arrow('nitrites', k) %>" aria-hidden="true"></i></td>
      <td><%= v['nitrates'] %> <i class="fa <%= determine_arrow('nitrates', k) %>" aria-hidden="true"></i></td>
    </tr>
    <% end %>
</table>

<p><a href="/entry/new">New Entry</a></p>